*.pyc
*.pyo
.installed.cfg
*.xcuserstate
*.xcscheme
bin
build
dist
develop-eggs
downloads
eggs
parts
*.egg-info
test-coverage
.DS_Store
.coverage
*~
*bulkloader-progress*
*bulkloader-log*
lto-llvm.o-*
output.html
MANIFEST