*.pyc
*.pyo
.installed.cfg
*.xcuserstate
*.xcscheme
bin
build
develop-eggs
downloads
eggs
parts
*.egg-info
test-coverage
.DS_Store
.coverage
simplylisted/web/static/src/
*~
*bulkloader-progress*
*bulkloader-log*