<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ABTableViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HockeyKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JustLanded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QuincyKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Reachability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>111A6F8015F007550006FB37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1145C913158828DE002D5EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1145C923158828FE002D5EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1145C97F1588331B002D5EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1145C98F15883362002D5EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1145C9A6158833C6002D5EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>116CB8E714EF4E67003AB446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117C48C114EB64F60049452F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11AE975514EB57EF00F7ED46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11AE980C14EB624A00F7ED46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11C5DFA614DCCDDF006D1DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11C5DFCD14DCCDDF006D1DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F1131A151182A00008D301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F11361151185040008D301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F7DC70151185C000DFA5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11FA36C7158838E40004149F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
